Flask-PyMongo
pytest
coverage
Flask-SQLAlchemy
flask-cors
flask-jwt-extended
git+https://github.com/idoshr/flask-mongoengine.git@1.0.1
# flask-mongoengine
psycopg2-binary
marshmallow
google_auth_oauthlib
google-ads
python-dotenv
razorpay
cryptography
Flask-Mail
langchain_core
langchain_openai
sqlparse